<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Full Suite">
    <test name="Chrome">
        <parameter name="browser"  value="chrome"/>
        <classes>
            <class name="LandingPageTest"></class>
            <class name="SignUpPageTest"></class>
        </classes>
    </test>
    <test name="Firefox">
        <parameter name="browser"  value="firefox"/>
        <classes>
            <class name="LandingPageTest"></class>
            <class name="SignUpPageTest"></class>
        </classes>
    </test>
</suite>